/* Google Font */
@import url("https://fonts.googleapis.com/css?family=DM+Sans&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}

body {
  font-family: "DM Sans", sans-serif;
  height: 100vh;
}

.noScroll {
  overflow: hidden;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.heading--home {
  color: #901C1C;
  font-size: 36px;
  line-height: 46.87px;
  margin-right: 100px;
}

.photographerName {
  color: #D3573C;
}
.photographerName--homepage {
  font-size: 36px;
  line-height: 46.87px;
}
.photographerName--profile {
  font-size: 64px;
  line-height: 83.33px;
}

.photographerLocation {
  color: #901C1C;
}
.photographerLocation--homepage {
  font-size: 13px;
  line-height: 16.93px;
}
.photographerLocation--profile {
  font-size: 24px;
  line-height: 31.25px;
}

.photographerTagline--homepage {
  color: #000000;
  font-size: 10px;
  line-height: 13.02px;
}
.photographerTagline--profile {
  font-size: 18px;
  line-height: 23.44px;
  color: #525252;
}

.photographerPrice--homepage {
  color: #757575;
  font-size: 9px;
  line-height: 11.72px;
}
.photographerPrice--profile {
  color: #000000;
  font-weight: 500;
  font-size: 24px;
  line-height: 31.25px;
}

.mediaContainer {
  display: flex;
}
.mediaContainer__image {
  display: block;
  object-fit: cover;
  width: 350px;
  height: 300px;
  border-radius: 5px;
  z-index: -1;
}
.mediaContainer__video {
  display: block;
  object-fit: cover;
  width: 350px;
  height: 300px;
  border-radius: 5px;
  z-index: -1;
}

.button {
  border: none;
  background: none;
  cursor: pointer;
}
.button--form {
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 69px;
  background-color: #901C1C;
  border-radius: 5px;
}
.button--form--contact {
  align-self: center;
}
.button--form--contact:hover, .button--form--contact:focus {
  color: black;
  background-color: #DB8876;
}
.button--close {
  align-self: flex-start;
}

.filterSection {
  display: flex;
  position: relative;
  max-width: 100vw;
  margin: 0 100px 50px 100px;
  padding: 20px 0;
  gap: 30px;
}
.filterSection__label {
  font-weight: 700;
  font-size: 18px;
}
.filterSection__select {
  background: #901C1C;
  color: white;
  border-radius: 5px;
  position: absolute;
  top: 5px;
  left: 100px;
  z-index: 10;
  border: 10px solid #901C1C;
  border-left-width: 10px;
  border-right-width: 10px;
}
.filterSection__select__option {
  font-weight: 600;
  font-size: 18px;
  color: white;
  line-height: 23.44px;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
}

.hide {
  color: white;
  display: none;
}

.show {
  color: white;
  display: flex;
}

#listboxlabel {
  margin-right: 30px;
}

#dropdown {
  display: flex;
  width: 150px;
  justify-content: space-around;
  border-radius: 5px;
}

#filterArrow {
  align-self: center;
  margin-left: auto;
  padding-right: 5px;
}

#listbox-2, #listbox-3 {
  border-top: 1px solid white;
  border-radius: 0%;
  padding-top: 10px;
  align-self: center;
}

#listbox-3 {
  padding-bottom: 0px;
}

.infoContainer {
  display: flex;
  justify-content: space-between;
  color: #901C1C;
  padding-top: 10px;
  width: 350px;
}
.infoContainer__textContainer {
  display: flex;
}
.infoContainer__textContainer__title {
  font-size: 24px;
  line-height: 31.25px;
}
.infoContainer__textContainer__date {
  visibility: hidden;
  font-size: 0px;
}
.infoContainer__likesContainer {
  display: flex;
  align-items: center;
  gap: 6px;
}
.infoContainer__likesContainer__likes {
  font-weight: 500;
  line-height: 31.25px;
}
.infoContainer__likesContainer__button {
  margin-right: 1.75px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.nav {
  margin-left: 100px;
}
.nav__anchor {
  display: block;
  height: 100%;
}
.nav__anchor__logo {
  height: 50px;
}

.photographBanner {
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
  display: flex;
  align-items: center;
}
.photographBanner__article {
  display: flex;
  padding: 0px 20px;
  width: 100%;
  justify-content: space-between;
}

.textContainer--profile {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.gallerySection {
  display: flex;
  z-index: 1;
  position: relative;
  max-width: 100vw;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
  padding-bottom: 100px;
}

.photographerFooter {
  position: fixed;
  right: 36px;
  bottom: -16px;
  width: 376px;
  height: 89px;
  background-color: #DB8876;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 34px;
}
.photographerFooter__likes {
  font-weight: 500;
  font-size: 24px;
  line-height: 31.25px;
}
.photographerFooter__icon {
  filter: brightness(0);
  margin-right: 75px;
}

#contact_modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(196, 196, 196, 0.4);
  border: none;
}

#contact_modal::backdrop {
  background-color: rgba(196, 196, 196, 0.4);
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 35px;
  margin: auto;
  margin-top: 10px;
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}
.modal__header__text {
  display: flex;
  flex-direction: column;
  line-height: 83.33px;
}
.modal__header__text__heading {
  font-size: 64px;
  text-align: left;
}
.modal__header__img {
  cursor: pointer;
  filter: brightness(100);
}

#lightboxModal {
  height: 100%;
  width: 100%;
  border: none;
}

#lightboxModal::backdrop {
  background-color: white;
}

.lightbox {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  margin-top: 50px;
  background-color: white;
  border-radius: 5px;
  position: relative;
}

.lightboxFrame {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.lightboxFrame__media {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
}
.lightboxFrame__media__asset {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.lightboxFrame__text {
  color: #901C1C;
  font-weight: 700;
  height: 30px;
  padding-top: 1.5rem;
}

/* Lightbox Navigation */
#closeLightbox {
  position: absolute;
  right: 20px;
  top: 20px;
}

.next {
  right: 0;
  margin-left: 3%;
}

.previous {
  left: 0;
  margin-right: 3%;
}

.active {
  display: flex;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312E2E;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input, form textarea {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 36px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.photographer_section article, .photographer_section a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img--profile {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.textContainer--homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

/*# sourceMappingURL=style.css.map */
