@use "../abstracts" as *;

.photographBanner {
    background-color: $white--tint;
    &__article {
        display: grid;
        grid-template-columns: minmax(0, 1.5fr) minmax(0, 1fr) minmax(0,1fr);
        grid-template-areas: 
        "text contact image"
        "text contact image"
        "text contact image";
        padding: 20px 100px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: auto 0;
        gap: 10px;
        column-gap: 20px;
        @include tabletToLaptop {
            padding: 20px 30px;
        }
        @include smallerThanTablet {
            padding: 0px 20px;
            grid-template-columns: minmax(0, 1fr);
            grid-template-areas: 
            "text"
            "contact"
            "image";
            padding: 20px;
            justify-content: center;
        }
    }
}

.textContainer--profile {
    grid-area: text;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 40px;
    @include smallerThanTablet {
        align-items: center;
        gap: 15px;
        padding-bottom: 0px;
    }
}

