@use "../abstracts" as *;

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.nav {
    margin-left: 100px;
    &__anchor {
        display: block;
        height: 100%;
        &__logo {
            height: 50px;
        }
    }
}
