@use "../abstracts" as *;

#contact_modal {
    background-color: $gray--transparent;
    border: 1px solid $secondary-color;
    border-radius: 5px; 
    margin: auto;
}

#contact_modal::backdrop {
    background-color: $gray--transparent;
}

.modal {
    border-radius: 5px;
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 35px;
    @include smallerThanLargePhone {
        padding: 25px;
    }
    &__header {
        display: grid;
        grid-template-areas:
        "heading closeForm"
        "unique unique";
        grid-template-columns: 1fr 50px;
        align-content: center;
        width: 100%;
        gap: 10px;
        @include smallerThanTablet {
            margin-block-end: 15px;
        }
        &__text {
            //line-height: 83.33px;
            &__heading {
                font-size: 64px;
                text-align: left;
                @include smallerThanTablet {
                    font-size: 40px;
                    font-weight: 600;
                }
                @include smallerThanLargePhone {
                    font-size: 24px;
                }
            }
        }
        &__img {
            cursor: pointer;
            filter: brightness(100);
        }
    }
}

#modalTitle {
    grid-area: modalTitle;
    align-self: center;
}

#closeModal {
    grid-area: closeForm;
}

#uniqueHeading {
    grid-area: unique;
}