@use "../abstracts" as *;

#contact_modal {
    background-color: $gray--transparent;
    border: 1px solid $secondary-color;
    border-radius: 5px; 
    margin: auto;
}

#contact_modal::backdrop {
    background-color: $gray--transparent;
}

.modal {
    border-radius: 5px;
    background-color: $secondary-color;
    position: relative;
    padding: 35px;
    @include smallerThanLargePhone {
        padding: 25px;
    }
    &__header {
        @include smallerThanTablet {
            margin-block-end: 15px;
        }
        &__text {
            font-size: 64px;
            text-align: left;
            @include smallerThanTablet {
                font-size: 40px;
                font-weight: 600;
            }
            @include smallerThanLargePhone {
                font-size: 24px;
            }
        }
        &__img {
            cursor: pointer;
            filter: brightness(100);
        }
    }
}

#modalTitle {
    padding-right: 70px;
}

#closeModal {
    position: absolute;
    top: 50px;
    right: 35px;
    @include smallerThanLargePhone {
        top: 25px;
    }
}

.contactForm {
    grid-area: form;
}