@use "../abstracts" as *;

.button {
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 69px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    &--contact {
        align-self: center;
        &:hover, &:focus {
            color: black;
            background-color: #DB8876;
        }
    }
}