@use "../abstracts" as *;

.button {
    border: none;
    background: none;
    cursor: pointer;
    &--form {
        font-size: 18px;
        font-weight: bold;
        color: $white;
        padding: 11px;
        width: 170px;
        height: 69px;
        background-color: $primary-color;
        border-radius: 5px;
        &--contact {
            align-self: center;
            &:hover, &:focus {
                color: $black;
                background-color: $secondary-color;
            }
        }
    }
    &--close {
        align-self: flex-start;
    }
}