@use "../abstracts" as *;

.filterSection {
    display: flex;
    position: relative;
    max-width: 100vw;
    margin: 0 100px 50px 100px;
    padding: 20px 0;
    gap: 30px;
    @include smallerThanTablet {
        margin: 0 50px 25px 50px;
        justify-content: center;
    }
    @include tabletToLaptop {
        margin: 0 30px 25px 30px;
    }
    &__label {
        font-weight: 700;
        font-size: 18px;
    }
    &__select {
        background: $primary-color;
        color: $white;
        border-radius: 5px;
        position: absolute;
        top: 5px;
        left: 100px;
        z-index: 10;
        border: 10px solid $primary-color;
        border-left-width: 10px;
        border-right-width: 10px;
        &__option {
            font-weight: 600;
            font-size: 18px;
            color: $white;
            line-height: 23.44px;
            border-radius: 5px;
            padding: 5px;
            display: flex;
            justify-content: flex-start;
        }
    }
}

.hide {
    color: $white;
    display: none;
}

.show {
    color: $white;
    display: flex;
}

#listboxlabel {
    margin-right: 30px;
}

#dropdown {
    display: flex;
    width: 150px;
    justify-content: space-around;
    border-radius: 5px;
}

#filterArrow {
    align-self: center;
    margin-left: auto;
    padding-right: 5px;
}

#listbox-2, #listbox-3 {
    border-top: 1px solid $white;
    border-radius: 0%;
    padding-top: 10px;
    align-self: center;
}

#listbox-3 {
    padding-bottom: 0px;
}
