@use "../abstracts" as *;

.filterSection {
    display: flex;
    margin: 0 100px 50px 100px;
    padding: 20px 0;
    gap: 30px;
    @include smallerThanTablet {
        margin: 0 50px 25px 50px;
        justify-content: center;
    }
    @include tabletToLaptop {
        margin: 0 30px 25px 30px;
    }
    &__label {
        font-weight: 700;
        font-size: 18px;
    }
    &__select {
        background: $primary-color;
        color: $white;
        border: 10px solid $primary-color;
        font-size: 20px;
        width: 150px;
        border-radius: 5px;
        &__option {
            background: $primary-color;
            font-weight: 500;
            font-size: 22px;
            color: $white;
            line-height: 43.44px;
            border-radius: 5px;
        }
    }
}