@use "../abstracts" as *;

.infoContainer {
    display: flex;
    justify-content: space-between;
    color: $primary-color;
    padding-top: 10px;
    width: 350px;
    &__textContainer {
        display: flex;
        &__title {
            font-size: 24px;
            line-height: 31.25px;
            text-align: left;
        }
    }
    &__descriptionContainer {
        display: flex;
        align-items: center;
        gap: 6px;
        line-height: 31.25px;
        &__button {
            padding: 5px;
            &__image {
                align-self: center;
                padding-left: 3px;
            }
        }
    }
    &__likesContainer {
        display: flex;
        align-items: start;
        gap: 6px;
        &__likes {
            font-weight: 500;
            line-height: 31.25px;
        }
        &__button {
            padding: 5px;
            &:hover > img {
                outline: 1px solid $secondary-color;
                border-radius: 2px;
            }
        }
    }
}
