@use "../abstracts" as *;

.mediaContainer {
    display: flex;
    &__image {
        display: block;
        object-fit: cover;
        width: 350px;
        height: 300px;
        border-radius: 5px;
        z-index: -1;
    }
    &__video {
        display: block;
        object-fit: cover;
        width: 350px;
        height: 300px;
        border-radius: 5px;
        z-index: -1;
    }
}
