@use "../abstracts" as *;

.mediaContainer {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 300px;
    &__image {
        display: block;
        width: 350px;
        height: 300px;
        object-fit: cover;
        border-radius: 5px;
        z-index: -1;
        border: 0px solid transparent;
    }
    &:hover .mediaContainer__image {
        border: 5px solid $primary-color;
    }
    &__video {
        display: block;
        width: 350px;
        height: 300px;
        object-fit: cover;
        border-radius: 5px;
        z-index: -1;
        border: 0px solid transparent;
    }
    &:hover .mediaContainer__video {
        border: 5px solid $primary-color;
    }
}
