@use "../abstracts/" as *;

a:any-link, button {
    text-decoration: none;
    -webkit-tap-highlight-color: $transparent;
}

.photographerName {
    color: $orange;
    &--homepage{
        font-size: 36px;
        line-height: 46.87px;
        margin: 3px 0px 10px 0px;
        @include smallerThanLargePhone {
            font-size: 32px;
        }
    }
    &--profile {
        font-size: 64px;
        line-height: 83.33px;
        text-align: left;
        @include smallerThanTablet {
            text-align: center;
        }
        @include smallerThanLargePhone {
            font-size: 40px;
            line-height: 46.87px;
        }
    }
}

.photographerLocation {
    color: $primary-color;
    &--homepage {
        font-size: 22px;
        line-height: 16.93px;
    }
    &--profile {
        font-size: 24px;
        line-height: 31.25px;
    }
}

.photographerTagline {
    &--homepage {
        color: $black;
        font-size: 18px;
        line-height: 20.02px;
    }
    &--profile {
        font-size: 18px;
        line-height: 23.44px;
        color: $gray;
        @include smallerThanTablet {
            text-align: center;
        }
    }
}

.photographerPrice {
    &--homepage {
        color: $gray;
        font-size: 16px;
        line-height: 11.72px;
    }
    &--profile {
        color: $black;
        font-weight: 500;
        font-size: 24px;
        line-height: 31.25px;
    }
}