@use "../abstracts" as *;

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.photographer_section article, .photographer_section a {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imgContainer {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.imgContainer img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}