@use "../abstracts" as *;

.photographerSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    padding: 20px 50px;
    @include smallerThanTablet {
        margin: 30px 10px;
        grid-template-columns: 1fr;
        padding: 20px 70px;
    }
    @include tabletToLaptop {
        grid-template-columns: 1fr 1fr;
        padding: 20px 20px;
    }
    @include laptopToLargeDesktop {
        grid-template-columns: 1fr 1fr;
    }
}

.header--home {
    display: flex;
    padding: 20px 0px;
    justify-content: space-between;
    align-items: center;
    @include smallerThanTablet {
        flex-direction: column;
    }
}

.heading--home {
    color: $primary-color;
    font-size: 36px;
    line-height: 46.87px;
    align-self: flex-end;
    margin-bottom: auto;
    padding-right: 100px;
    @include tabletToLaptop {
        padding-right: 30px;
    }
    @include smallerThanTablet {
        padding-right: 0px;
        align-self: center;
    }
    @include smallerThanLargePhone {
        font-size: 34px;
    }
}

.photographerSection__article, 
.photographerSection__article__anchor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographerImg {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    justify-self: center;
    box-shadow: -3px 3px 20px 8px $gray--transparent;
    &:hover {
        box-shadow: -5px 5px 10px 8px $gray--transparent; 
    } 
    &--profile {
        grid-area: image;
        &:hover {
            box-shadow: -3px 3px 20px 8px $gray--transparent; 
        } 
    }
}

.textContainer--homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
