@use "../abstracts" as *;

.photographerSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 70px 20px;
    @include smallerThanTablet {
        margin: 30px 10px;
        grid-template-columns: 1fr;
    }
    @include tabletToLaptop {
        grid-template-columns: 1fr 1fr;
    }
    @include laptopToLargeDesktop {
        grid-template-columns: 1fr 1fr;
    }
}

.header--home {
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    @include smallerThanTablet {
        flex-direction: column;
    }
}

.heading--home {
    color: $primary-color;
    font-size: 36px;
    line-height: 46.87px;
    align-self: flex-end;
    @include smallerThanTablet {
        align-self: center;
    }
}

.photographer_section article, .photographer_section a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img--profile {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.textContainer--homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}
